<!-- -->
<div class="row">
    <div class="col-sm-10">
        <div id="game"></div>
    </div>
    <div class="col-sm-2">
      <div id="general-message-user">
        click connect button
      </div>
      <div id="all-clients">
      </div>
      <div class="buttons" class="btn">
        <div id="connect-btn" class="btn">
            connect
        </div>
        <div id="close-btn" class="btn">
            close
        </div>
      </div>
      <div id="on-receive-message"></div>
    </div>

</div>
<script>
var user = {id: <%= current_user.id %>, name: '<%= current_user.name %>'};
    _chess.ui.socket.mainChannel.init(user, opts);
    _chess.ui.main.init(user);
</script>
