<h1>Home</h1>
<h2>Welcome, here.</h2>
<br><br>
<h5>
  A simple project for playing to chess with another user online, trough the push notifications (with websocket-rails gem).
</h5>
<h5>
  Idea is:
  <ul>
    <li>list available user for play.</li>
    <li>select your next challenger.</li>
    <li>wait until he/she accepts request.</li>
    <li>start to play.</li>
  </ul>
</h5>
<br>
<% if user_signed_in? %>

<h4>
  <a href="/play"> Start to play! </a>
</h4>

<% end %>
